<% layout('boilerplate') -%>
<div class="container">
    <h1>Add Listing</h1>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="row">

        <div>
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" name="listing[title]" id="title" required>
            <div class="invalid-feedback">Invalid Title</div>
        </div>
        <div>
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" name="listing[description]" id="description" required></textarea>
            <div class="invalid-feedback">Invalid Description</div>
        </div>
        <div>
            <label class="form-label" for="image">Image</label>
            <input class="form-control" type="file" name="image" id="image">
        </div>
        <div>
            <label class="form-label" for="price">Price</label>
            <input class="form-control" type="number" name="listing[price]" id="price" required>
            <div class="invalid-feedback">Invalid Price</div>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" name="listing[location]" id="location" required>
            <div class="invalid-feedback">Invalid Location</div>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="country">Country</label>
            <input class="form-control" type="text" name="listing[country]" id="country" required>
            <div class="invalid-feedback">Invalid Country</div>
        </div>
        <button class="btn btn-primary col-8 col-md-4 m-3" type="submit">Add Listing</button>
    </div>

    </form>
</div>