<% layout('boilerplate.ejs') -%>
<div class="container">
    <div class="row">
        <h2 class="mt-4">Error</h2>
        <div class="col-md-12">
            <p><%= error.message %></p>
            <a href="/listings" class="btn btn-danger">Go back to listings</a>
        </div>
    </div>